.Third-container{
    text-align: center;
    background: #FFFAFD;
}

.Third-container img{
    width: 98.9vw;
}

#line1{
    Width: 100px;
    height: 5px;
    background-color:  #F050BE;
    text-align: center;
    margin-left: 46%;
}

.Third-container p{
    
}